{% extends 'accounts/layouts/starter.html' %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header p-4">
                    <h5 class="m-0">Appointment Details</h5>
                </div>

                <div class="card-body">
                    <div>
                    {% if messages %}
                        {% for message in messages %}

                        <div class="alert alert-success alert-dismissible fade show col-12" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          {% endfor %}

                    {% endif %}
                    </div>
                    
                    <div class="row">

                        <div class="col-6">
                            <table id="" class="table table-bordered appointment-details-info patient-info">
                                <thead>
                                    <tr>
                                        <td colspan="2">Patient Information</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>{{ appointment.patient.get_full_name.title }}</td>
                                    </tr>
                                    <tr>
                                        <td>Address:</td>
                                        <td>{{ appointment.patient.patientprofile.get_full_address }}</td>
                                    </tr>
                                    <tr>
                                        <td>Contact No:</td>
                                        <td>{{ appointment.patient.get_full_name.title }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td>{{ appointment.patient.email }}</td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                        <div class="col-6">
                            <table id="" class="table table-bordered appointment-details-info doctor-info">
                                <thead>
                                    <tr>
                                        <td colspan="2">Doctor Information</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>{{ appointment.doctor.get_full_name.title }}</td>
                                    </tr>
                                    <tr>
                                        <td>Department</td>
                                        <td>{{ appointment.doctor.doctorprofile.department }}</td>
                                    </tr>
                                    <tr>
                                        <td>Contact No:</td>
                                        <td>{{ appointment.doctor.get_full_name.title }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td>{{ appointment.doctor.email }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <table id="" class="table table-bordered appointment-details-table">
                                <thead>
                                    <tr>
                                        <td colspan="2">Appointment Details</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Appointment Date:</td>
                                        <td>{{ appointment.appointment_date}}</td>
                                    </tr>
                                    <tr>
                                        <td>Appointment Time:</td>
                                        <td>{{ appointment.timeslot }}</td>
                                    </tr>
                                    <tr>
                                        <td>Reason:</td>
                                        <td>{{ appointment.reason }}</td>
                                    </tr>
                                    <tr>
                                        <td>Description:</td>
                                        <td>{{ appointment.description }}</td>
                                    </tr>
                                    <tr>
                                        <td>User Uploaded Files:</td>
                                        <td><a href="{{appointment.history_files.url}}">{{ appointment.history_files }}</a></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-12 text-center mb-3">
                            {% if appointment.approval_status == 'approved' %}
                            <p class="p-3 bg-success">Your appointment request has been approved.</p>

                            <a class="btn btn-lg btn-success" href="{% url 'video_chat:video' %}">Join Call</a>
                            {% else %}
                            <p class="p-3 bg-warning">Your appointment request is pending...</p>
                           
                            {% endif %}
                        </div>
                        
                        <div class="col-12">
                            <a class="float-left btn btn-secondary" href="{% url 'accounts:dashboard' %}">Back</a>
                            <a class="float-left btn btn-info ml-2" href="{% url 'appointments:edit_appointment' appointment.id %}">Edit</a>
                            <a class="float-right" href="{% url 'appointments:cancel_appointment' appointment.id %}">Cancel this appointment</a>
                        </div>
                        
                    </div>
                        
                </div> <!-- card body-->
            </div> <!-- card -->
        </div> <!-- col-md-12 -->
    </div> <!-- row -->
    

    
</div> <!-- container -->

{% endblock content %}
