{% extends 'accounts/layouts/starter.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}

{% block content %}
  
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0">
        Patient Dashboard
      </h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Starter Page</li>
      </ol>
    </div><!-- /.col -->
  </div><!-- /.row -->

  <div class="row">
    {% if current_user.patientprofile.profile_incomplete %}
    <div class="alert alert-warning alert-dismissible fade show col-8" role="alert">
      Please complete your profile.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
  </div>
</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->



<!-- Main content -->
<div class="content">
<div class="container-fluid">
  <div class="row">
  
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="p-2">Your Appointments</h5>
        </div>
        <div class="row appointment-messages">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}

            {% endif %}
        </div>
        <div class="row">
        {% for appointment in appointments %}
        <div class="col-2">
          <div class="card m-4 appointment-card" style="width: 16rem;">
            <div class="card-header {% if appointment.approval_status == 'approved'%}bg-success{% else %} bg-secondary {% endif %}">{{ appointment.approval_status.title }}</div>
            <img class="card-img-top" src="{% static 'accounts/images/logos/logo-transparent.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><b>Dr. {{ appointment.doctor.get_full_name }}  &nbsp;|&nbsp;  </b> <br><small>{{ appointment.doctor.doctorprofile.department }}</small></h5>
              <p class="card-text">
                <ul style="list-style-type: none; padding-left: 0">
                  <li><b>Date:</b> {{ appointment.appointment_date }}</li>
                  <li><b>Time:</b> {{ appointment.timeslot }}</li>
                </ul>
              </p>
              <a href="{% url 'appointments:view_details' appointment.id %}" id="btn-appointment-details" class="btn btn-primary" style="width: 100%;">View Details</a>
            </div>
          </div>
        </div>
       
        
        {% endfor %}
        </div>
        
      </div>
    </div>
    <!-- /.col-md-6 -->
  </div>
  <!-- /.row -->

{% endblock content %}