{% if request.user.is_doctor %}
<!-- Sidebar Menu -->
<nav class="mt-2">
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  <li class="nav-item">
    <a href="{% url 'accounts:dashboard' %}" class="nav-link">
      <i class="nav-icon far fa-image"></i>
      <p>
        Dashboard
      </p>
    </a>
</li>
{% if current_user.doctorprofile.is_nmc_verified %}
<li class="nav-item">
    <a href="{% url 'accounts:edit_working_shifts' %}" class="nav-link">
      <i class="nav-icon far fa-image"></i>
      <p>
        View/Edit Working Hours
      </p>
    </a>
</li>
{% endif %}
</ul>
</nav>
<!-- /.sidebar-menu -->
{% endif %}


{% if request.user.is_patient %}
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item">
        <a href="{% url 'accounts:dashboard' %}" class="nav-link">
          <i class="nav-icon far fa-image"></i>
          <p>
            Dashboard
          </p>
        </a>
    </li>
      <li class="nav-item">
        <a href="{% url 'appointments:list_doctors' %}" class="nav-link">
          <i class="nav-icon far fa-image"></i>
          <p>
            Create Appointments
          </p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'appointments:doctor_availability' %}" class="nav-link">
          <i class="nav-icon far fa-image"></i>
          <p>
            Check Doctor Availablility
          </p>
        </a>
      </li>
           
    </ul>
    </nav>
{% endif %}