.login-form {
    width: 600px;
    margin: 0px auto;
    /* padding: 20px; */

}
.register-form {
    margin: 20px auto;
}
.appointment-list {
    list-style-type: none;
}

.appointment-details-info tr td:first-child{
   font-weight: bold;
   width: 150px;
}

.appointment-details-info tbody tr {
    line-height: 0.8;
}

.appointment-details-table tr td:first-child {
    font-weight: bold;
    width: 250px;
}

.appointment-messages {
    margin: 12px;
    border-radius: 6px;
    
}

.appointment-messages ul {
    list-style-type: none;
}

.appointment-card {
    border: 1px dotted rgba(0, 0, 0, 0.3);
}
.appointment-card:hover {
    box-shadow: 2px 2px 8px 2px rgba(33,33,33, 0,3);
  
}

.patient-actions li{
    margin: 8px 0;
}

.profile_image_actions {
    position: relative;
    top: -150px;
    left: 300px;
    width: 500px;
}

.profile_upper_div {
    height: 300px;
    background-color: #e9e9e9;
    border-radius: 12px;
    padding: 24px;
}

.doctor-availability-table table tbody tr td:first-child {
    background-color: #f0f0f0;
}